
@{
    ViewData["Title"] = "ShowSingleBlob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show Single Blob</h1>

<br />
<img src="@ViewBag.LatestImage" width="900" height="600" title="Latest Uploaded" />
